<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mind.toread.mapper.BookMapper">
    <insert id="saveBook" parameterType="Book">
        INSERT INTO BOOK (title, image, author, description)
        VALUES (#{title}, #{image}, #{author}, #{description});
    </insert>

    <select id="getBooks">
        SELECT title, image, author, description
        FROM BOOK
        WHERE user_id = USER.id
    </select>


</mapper>